<!-- BEGIN FORM-->
<%= form_for @user_file  do |file| %>
  <% if @user_file.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @user_file.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= file.file_field :content %>
  </p>

  <p>
    <%= file.submit 'Upload' %>
  </p>
<% end %>
<!-- END FORM-->


