<table>
  <thead>
    <tr>
      <th> File Name </th>
      <th> File Size </th>
      <th> Upload date </th>
      <th> User email </th>
    </tr>
    </thead>
 <% files.each do |file|%>
    <tr>
      <td><%= file.name %></td>
      <td><%= file.size %> bytes</td>
      <td><%= file.created_at.strftime("%Y/%m/%d %H:%M") %></td>
      <td><%= file.user.email %></td>
    </tr>
 <% end %>
</table>
<br>
<br>
<br>